<body id="user-edit" class="full-page">
  <div class="translucent center">
    <h1>Edit Your Profile</h1>

    <%= render partial: "form", locals: { button_label: "Update Profile", myclass: "paddingright" } %>

    <div class='delete'>
      <h4>Delete Your Account</h4>
      <%= form_tag user_path(@user), method: 'delete' do %>
        <%= submit_tag 'Delete Account' %>
      <% end %>
    </div>
  </div>
</body>
