<body id="users-index" class="full-page">
  <div class="translucent center">
    <h1>List of Users</h1>
  </div>
  <% @users.each do |u| %>
    <div class="translucent center">
      <%= link_to image_tag(u.avatar.url(:thumb)), u %><br>
      <%= link_to u.name, u %>
    </div>
  <% end %>
</body>
