<body id="user-new" class="full-page">
  <div class="translucent center">
    <h1 class="center-text">Create New User</h1>

    <%= render partial: "form", locals: { button_label: "Create User" } %>
  </div>
</body>
