<body id="song-new" class="full-page">
  <div class="translucent center">
    <h1>Create Song</h1>
    <%= render partial: "form", locals: { button_label: "Create Song", myclass: "paddingright" } %>
  </div>
</body>
