<body id="playlist-edit" class="full-page">
  <div class="translucent center">
    <h1>Edit '<%= @playlist.name %>'</h1>
    <%= render partial: "form", locals: { button_label: "Edit Playlist" } %>
  </div>
</body>
