<body id="playlist-edit" class="full-page">
  <div class="translucent center">
    <h1 class="center-text">Edit '<%= @playlist.name %>'</h1>
    <%= render partial: "form", locals: { button_label: "Edit Playlist" } %><br/>
    <div class="center-text">
      <h4>Delete Your Song</h4>
      <%= form_tag user_playlist_path(@user, @playlist), method: 'delete' do %>
        <%= submit_tag "Delete Playlist", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</body>
