<body id="playlists-index" class="full-page">
  <div class="translucent center">
    <!-- <h1><%= @user.name %>'s Playlists</h1>

    <% if @playlists.empty? %>
      <p>There are no playlists.</p>
      <% if logged_in? && current_user == @user %>
        <%= link_to "Would you like to create one?", new_user_playlist_path %>
      <% end %>
    <% else %>

      <ol>
        <% @playlists.each_with_index do |p, i| %>
          <li><%= link_to p.name, user_playlist_path(@user, p) %><br></li>
        <% end %>
      </ol>
    <% end %> -->
    <h1>All Playlists</h1>
    <ol>
      <% @playlists.each_with_index do |p, i| %>
        <li><%= link_to "#{p.name} - #{p.user.name}", user_playlist_path(@user, p) %><br></li>
      <% end %>
    </ol>
  </div>
</body>
