<body id="playlists-index" class="full-page">
  <div class="translucent center">

    <h1>All Playlists</h1>
    <ol>
      <% @playlists.each_with_index do |p, i| %>
        <li><%= link_to "#{p.name} - #{p.user.name}", user_playlist_path(p.user, p) %><br></li>
      <% end %>
    </ol>
  </div>
</body>
