<body id="playlist-new" class="full-page">
  <div class="translucent center">
    <h1>Create a Playlist</h1>
      <%= render partial: "form", locals: { button_label: "Create Playlist" } %>
  </div>
</body>
